extends layout

block content
  if results
    table.table.table-responsive
      tr
        th pid
        th id
        th name
        th instances
        th exec path
        th repo
        th Pull latest
        th Start/Stop
      for result in results
        tr
          td(class="pid" data-pid="#{result.pid}")= result.pid
          td= result.pm_id
          td= result.name
          td= result.pm2_env.instances
          td= result.pm2_env.pm_exec_path
          if result.pm2_env.versioning
            td= result.pm2_env.versioning.url
            td
              a(href="/pulllatest?execPath=#{result.pm2_env.pm_cwd}&repo=#{result.pm2_env.versioning.url}") Pull latest
          else
            td
            td
          td
            if result.pid === 0
              a(href="/appstartpm?execPath=#{result.pm2_env.pm_exec_path}") Start
            else
              a(href="/appstoppm?execPath=#{result.pm2_env.pm_exec_path}") Stop
  script.
    $(document).ready(function(){
      var nbrApps = [];
      $(".pid").each(function(){
        console.log($(this).data("pid"));
          if($(this).data("pid") != 0) {
              nbrApps.push($(this).data("pid"));
          } else {
            
          }
      });
      console.log("Number of apps runngin: " + nbrApps.length);
      $("#nbrApps").html(nbrApps.length);
    });
              
            
            
                
