extends layout

block content
  h1= title
  p Welcome to #{title}            
  table
    if directories
      for directory in directories
        tr
          td #{directory}
          td 
            a(href="/appstart/#{directory}") start
          td 
            a(href="/appstop/#{directory}") stop
    if results
      table.table.table-responsive
        tr
          th pid
          th name
          th instances
        for result in results
          tr
            td= result.pid
            td= result.name
            td= result.pm2_env.instances
            td= result.pm2_env.pm_exec_path
            td
              a(href="/appstartpm?execPath=#{result.pm2_env.pm_exec_path}") Restart
            td
              a(href="/appstoppm/#{result.name}") Stop 
            
            
                
